In [1]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps
!jupyter nbextension enable --py gmaps 
#!jupyter labextension install @jupyter-widgets/jupyterlab-manager
#jupyter lab build
#jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets
import json 
import time 
import random
%matplotlib inline

# Import API key
from api_keys import g_key 
#g_key = 'AIzaSyAb-GoBU1kzG40g9f4GvuXl_u8OlrnFkxs'

In [3]:
#load the CSV file 
csvcity = pd.read_csv('..\WeatherPy\cities.csv')

In [4]:
#configure gmaps 
gmaps.configure(api_key=g_key)

In [5]:
target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(csvcity['City'], g_key) 


lat = csvcity['Lat'] 
lng = csvcity['Lng'] 
city = csvcity['City'] 
humidity = csvcity['Humidity']


# Print the latitude and longitude
#print(''''
 #   City: {0}
  #  Latitude: {1}
   # Longitude: {2} 
    #Humidity: {3}
    #'''.format(csvcity['City'], lat, lng, humidity)) 
csvcity.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,cloudiness,Wind Speed,Country,Date
0,0,punta arenas,-53.15,-70.92,44.60,75,75,5.82,CL,1604023820
1,1,broome,42.25,-75.83,43.00,93,90,10.29,US,1604023981
2,2,ucluelet,48.93,-125.55,54.00,93,100,1.99,CA,1604023774
3,3,upernavik,72.79,-56.15,22.91,97,100,5.03,GL,1604023837
4,4,ilulissat,69.22,-51.10,19.40,73,69,3.36,GL,1604023816

In [6]:

fig = gmaps.figure()

locations = csvcity[["Lat", "Lng"]].astype(float) 
humidity = humidity.astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=100,point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#weather criteria 
df =  pd.read_csv('..\WeatherPy\cities.csv') 
criteria = df[ df['Max Temp'].iloc[:] < 70 ] 
secondcrit = df[df['Wind Speed'].to_frame().iloc[:] < 10 ]  
thirdcrit = df[df['cloudiness'].to_frame().iloc[:] == 0 ]   


df['Max Temp'] = criteria['Max Temp']   
df['Wind Speed'] = secondcrit['Wind Speed'] 
df['cloudiness'] = thirdcrit['cloudiness']
drop = df.dropna()
#drop rows with 3 conditions  
drop

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,cloudiness,Wind Speed,Country,Date
12,12,orbetello,42.44,11.22,48.20,93,0.0,4.70,IT,1604023983
53,53,zabol,32.25,67.25,34.88,80,0.0,1.45,AF,1604023990
58,58,bageshwar,29.85,79.77,59.52,32,0.0,2.39,IN,1604023991
98,98,odweyne,9.41,45.06,68.54,66,0.0,3.47,SO,1604023996
103,103,mar del plata,-38.00,-57.56,48.99,87,0.0,7.72,AR,1604023730
...,...,...,...,...,...,...,...,...,...,...
521,521,yaypan,40.38,70.82,41.76,59,0.0,3.15,UZ,1604024053
539,539,komsomolskiy,40.43,71.72,35.60,55,0.0,6.93,UZ,1604023837
541,541,eureka,40.80,-124.16,55.00,76,0.0,1.83,US,1604023651
545,545,karatau,43.17,70.47,25.86,93,0.0,2.04,KZ,1604024056
548,548,tatawin,32.93,10.45,55.40,66,0.0,1.12,TN,1604024056

In [13]:
hotel_df = [] 

for i in range(len(drop)):
    l = [i]
    lat  = drop['Lat'] 
    lng = drop['Lng'] 
    
    params = {'location': f'{lat},{lng}' ,
            "radius": 5000 ,
            'types': 'hotel', 
             "key": g_key}

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    request = requests.get(base_url, params = params)  
    json = request.json()   
    try:
        hotel_df.append(json['results'][0]['name'])    
    except:  
        hotel_df.append("")

drop["Hotel Name"].loc[0]  = hotel_df
drop = drop.dropna(how = 'any') 
hotel_df = drop 
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,cloudiness,Wind Speed,Country,Date,Hotel Name
12,12,orbetello,42.44,11.22,48.20,93,0.0,4.70,IT,1604023983,
53,53,zabol,32.25,67.25,34.88,80,0.0,1.45,AF,1604023990,
58,58,bageshwar,29.85,79.77,59.52,32,0.0,2.39,IN,1604023991,
98,98,odweyne,9.41,45.06,68.54,66,0.0,3.47,SO,1604023996,
103,103,mar del plata,-38.00,-57.56,48.99,87,0.0,7.72,AR,1604023730,
...,...,...,...,...,...,...,...,...,...,...,...
521,521,yaypan,40.38,70.82,41.76,59,0.0,3.15,UZ,1604024053,
539,539,komsomolskiy,40.43,71.72,35.60,55,0.0,6.93,UZ,1604023837,
541,541,eureka,40.80,-124.16,55.00,76,0.0,1.83,US,1604023651,
545,545,karatau,43.17,70.47,25.86,93,0.0,2.04,KZ,1604024056,
548,548,tatawin,32.93,10.45,55.40,66,0.0,1.12,TN,1604024056,

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
markers = gmaps.marker_layer(locations) 
fig.add_layer (markers)
fig

Figure(layout=FigureLayout(height='420px'))